body{
	font-family: cursive;
	margin: 0;
	padding: 0;
}

header{
	background-color: #150485;
	color: #fff;
	height: 70px;
	padding: 1px;
	top: 0;

}

button{
	font-family: sans-serif;
	text-align: center;
	top: 50%;
	left: 50%;
	width: 130px;
	padding: 20px;
	font-size: 18px;
	font-weight: 400;
	border: 5px solid #ffff;
	cursor: pointer;
	border-radius: 30px;
}

.header-logo{
	float: left;
	font-size: 24px;
  	padding: 20px 40px;
}

.header-logo a{
	text-decoration: none;
	color:#fff;
}

.header-list li{
	float: left;
	list-style: none;
	padding: 10px 20px;
}

.header-list a{
	text-decoration: none;
	color: #fff;
}

.main {
  	padding: 100px 80px;
}

.container h1 {
  	font-size: 80px;
}

.container h2 {
  	font-size: 30px;
}

.container span {
  	color: #ff4a4a;
}

.contents{
  	height: 500px;
  	margin-top: 250px;
}

.absensi span{
  	color: #ff4a4a;
}

.putih{
	color: #fff;
}

.tengah{
	text-align: center;
}

.border{
	text-align: center;
	border-bottom: 2px solid #dee7ec;
  	font-size: 40px;
 	padding-bottom: 15px;
  	margin-bottom: 50px;
}

.content-item{
	float: left;
	margin: 20px 70px;
}

.content-item h2{
	color: #150485;
	text-align: center;
}

.content-item a{
	text-decoration: none;
	color: #fff;
}

.linkedin{
	background-color: #150485;
}

.github{
	background-color: #212121;
}

.instagram{
	background-color: #d54062;
}

.twitter{
	background-color: #00bcd4;
}

.form{
	padding-left: 430px;
}

.center-text{
	text-align: center;
}
